---
layout: default
title: Home
---
</div>
</div>
<!-- We've temporary closed main-content and container to have a full width intro -->
<!-- Home Jumbotron
================================================== -->
<section class="intro">
    <center>
        <br><br>
        <h1 style="color:rgb(0, 0, 0)">Hi, I am <span>Jonathan Kuhlman.</span></h1>
        <br>
        <h3>Lawer and runner</h3>
        <br>
        <a href="/about" class="btn" style="color:white">View More about me</a>
    </center>
</section>

<!-- We reopen main-content and container -->

<div class="container">
    <div class="row">
    <div class="widget">
      <!-- Your widget content here -->
      <h2><span>Strava</span></h2>
      <iframe height='454' width='300' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/athletes/24527367/latest-rides/c01b7354d1ba31b3d85004a05fc345c0cfd08139'></iframe>
    </div>
    <div class="col-sm-6">
        <div class="featured-posts-container">
          <div class="row listfeaturedtag">
        {% for post in site.posts %}
        {% if post.featured == true %}
        {% include featuredbox.html %}
        {% endif %}
        {% endfor %}
    </div>
  </div>
</div>
  </div>
</div>

        <!-- Posts Index
        ================================================== -->
        {% if paginator.previous_page %}
        {% if paginator.previous_page > 0 %}
        <div id="jumptopageof"></div>
        {% endif %}
        {% endif %}
        <section class="recent-posts row">
            <div class="col-sm-8">
                <div class="section-title">
                    <h2><span>Blog Posts</span></h2>
                </div>
                <div class="masonrygrid row listrecent">
                    {% for post in paginator.posts %}
                    {% unless post.featured == true %}
                    {% include postbox.html %}
                    {% endunless %}
                    {% endfor %}
                </div>

                <!-- Pagination -->
                <div class="bottompagination">
        <span class="navigation" role="navigation">
            {% include pagination.html %}
        </span>
                </div>
            </div>

            <!-- Sidebar -->
            <div class="col-sm-4">
                {% include sidebar.html %}
            </div>
        </section>
