<div class="sidebar">
 <div class="sidebar-section">
    <h5><span>Strava</span></h5>
    <iframe height='454' width='300' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/athletes/24527367/latest-rides/c01b7354d1ba31b3d85004a05fc345c0cfd08139'></iframe>  </div>

  <div class="sidebar">
    <div class="sidebar-section">
       <h5><span>Search</span></h5>
        {% include search.html %}
     </div>

  <div class="sidebar-section">
    <h5><span>Newsletter</span></h5>
    {% include newsletter.html %}
  </div>

<div class="sidebar-section">
    <h5><span>Useful Links</span></h5>
    <ul style="list-none;">
      <li><a href="/theme-setup/">Setup Prasad theme</a></li>
      <li><a target="blank" href="https://github.com/emamarela">Creator</a></li>
      <li><a target="_blank" href="/home/">Add useful link</a></li>
      <li><a target="_blank" href="/home/">Add useful link</a></li>
    </ul>
  </div>
</div>
